@model FinalYear.Models.PODetail
                    <h5 style="color:royalblue;">Detail Of Purchases</h5>
@foreach (var item in ViewBag.purchasesitemsList)
                
{              <dt>CategoryName</dt>
            <dd>
                @item.ProDetail.Product.Category.Catname
            </dd>
            <dt>SubCategoryName</dt>
            <dd>
                @item.ProDetail.Product.SubCategory.SubCatname
            </dd>
            <dt>ProductName</dt>
            <dd>
                @item.ProDetail.Product.ProName
            </dd>
            <dt>ProductType</dt>
            <dd>
                @item.ProDetail.ProductType
            </dd>
            <dt>ProductUnit</dt>
            <dd>
                @item.ProDetail.ProductUnit
            </dd>
            <dt>CostPrice</dt>
            <dd>
                @item.ProDetail.CostPrice
            </dd>
            <dt>SalePrice</dt>
            <dd>
                @item.ProDetail.UnitPrice
            </dd>
            <dt>ProductCode</dt>
            <dd>
                @item.ProDetail.Product.Code
            </dd>


}

<button type="button" class="btn btn-dark" id="sclosbtn" data-dismiss="modal" aria-label="Close">Close</button>
<script src="~/Scripts/Closebtn.js"></script>
