@model FinalYear.Models.Product

<div style="font-size:14px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Category.Catname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Catname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory.SubCatname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.SubCatname)
        </dd>

    </dl>
</div>

<button type="button" class="btn btn-dark" id="sclosbtn" data-dismiss="modal" aria-label="Close">Close</button>
<script src="~/Scripts/Closebtn.js"></script>
