
<div class="card card-body ">
    <p>
        <a class="anchorDetail btn" data-url="/ManageStock/_create" data-bs-toggle="model" data-target="#myModal"> <i class="fa-solid fa-plus"></i></a>
    </p>
    <style>
        /* Add custom styling for the reload button */
        #reloadButton {
            background: transparent;
            border: none;
            color: green;
            cursor: pointer;
            font-size: 16px;
            padding: 5px 10px;
            transition: color 0.3s ease;
        }

            #reloadButton:hover {
                color: darkgreen;
            }
    </style>
    <table class="display compact" id="example1">
        <thead>
            <tr>
                <th>
                    ProductName
                </th>
                <th>
                    CatagoryName
                </th>
                <th>
                    Sub_CatagoryName
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ProductPartial)
            {

                <tr>
                    <td>
                        @item.ProName
                    </td>
                    <td>
                        @item.Category.Catname
                    </td>
                    <td>
                        @item.SubCategory.SubCatname
                    </td>
                    <td>
                        <button href="#" class="anchorDetail btn  btn-sm" data-url="/ManageStock/Edit" data-id="@item.ProID" data-bs-toggle="model" data-target="#myModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button href="#" class="anchorDetail btn btn-sm" data-url="/ManageStock/Details" data-id="@item.ProID" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-circle-info"></i></button>
                        @*<button href="#" class="adelete btn " data-url="/ManageStock/_Delete" data-id="@item.ProID" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-trash-can"></i></button>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        // Initialize the DataTable
        var table = $('#example1').DataTable();

        $('.dataTables_filter').prepend('<button id="reloadButton"><i class="fas fa-sync-alt"></i></button>');
        $('#reloadButton').click(function () {
            $.ajax({
                url: '/ManageStock/UpdateTable',
                method: 'GET',
                success: function (data) {
                    $('#example1 tbody').empty();

                    // Append new data rows to the existing table
                    for (var i = 0; i < data.data.length; i++) {
                        var newRow = '<tr>' +
                            '<td>' + data.data[i].Name + '</td>' +
                            '<td>' + data.data[i].CategoryName + '</td>' +
                            '<td>' + data.data[i].SubCategoryName + '</td>' +
                            '<td>' +
                            '<button href="#" class="anchorDetail btn btn-sm" data-url="/ManageStock/Edit" data-id="' + data.data[i].Id + '" data-bs-toggle="modal" data-target="#myModal">' +
                            '<i class="fa-solid fa-pen-to-square"></i>' +
                            '</button>' +
                            '<button href="#" class="anchorDetail btn btn-sm" data-url="/ManageStock/Details" data-id="' + data.data[i].Id + '" data-bs-toggle="modal" data-target="#myModal">' +
                            '<i class="fa-solid fa-circle-info"></i>' +
                            '</button>' +
                            '</td>' +
                            '</tr>';

                        $('#example1 tbody').append(newRow);
                    }

                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<script src="~/Scripts/_CreateScript.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
@*<script>
        var createBtn = $(".anchorDetail");
        if (createBtn) {

            createBtn.click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var TeamDetailPostBackURL = $buttonClicked.attr('data-url');
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    //contentType: "application/json; charset=utf-8",
                    data: { id: id },
                    success: function (data) {
                        Swal.fire({
                            html: data,
                            showCloseButton: true,
                            showCancelButton: true,
                            focusConfirm: false,
                            confirmButtonText: 'Save',
                            confirmButtonAriaLabel: 'Save',
                            cancelButtonText: 'Cancel',
                            cancelButtonAriaLabel: 'Cancel',
                            onOpen: function () {
                                $(document).ready(function () {
                                    var isValidated = false;
                                    $.validator.addMethod("uniqueproduct", function (value, element) {
                                        var data = $('#ProName').val();
                                        debugger
                                        var isValid = false;
                                        $.ajax({
                                            url: '/ManageStock/FindByName',
                                            type: 'POST',
                                            data: { ProName: data },
                                            async: false,
                                            success: function (response) {
                                                console.log(response);
                                                isValid = response.isUnique;
                                            }

                                        });
                                        return isValid;
                                    }, "Product Name already exists.");

                                    $("#productform").validate({
                                        rules: {
                                            ProName: {
                                                required: true,
                                                uniqueproduct: true
                                            },
                                            Code: {
                                                required: true,
                                            },

                                        },

                                        submitHandler: function (form) {
                                            $.ajax({

                                                url: "/ManageStock/Create",
                                                type: 'POST',
                                                data: $('#productform').serialize(),
                                                success: function (data) {
                                                    if (data.success) {

                                                        $("#ProName").val("");
                                                        $("#sessionval").html(data.dig);
                                                        toastr["success"](data.message);
                                                    }
                                                    else {
                                                        $("#sessionval").html(data.dig);
                                                        toastr["danger"](data.message);
                                                    }

                                                }
                                            });
                                        }
                                        //errorPlacement: function (error, element) {
                                        //    $("#message").html(error.text());
                                        //}

                                    });
                                    $("#Catname").on("keyup", function () {
                                        // Validate the form agai
                                        if (!isValidated) {
                                            $("#productform").validate().element("#ProName");
                                            // Update the error message if the validation is successful
                                            if ($("#productform").validate().element("#ProName")) {
                                                $("#message").html("");
                                            }
                                        } else {
                                            // Validate the form
                                            $("#productform").valid();
                                            console.log("not");
                                        }
                                    });
                                });

                            }
                        });
                    }
                });
            });
        }

    </script>*@