
<form action="@Url.Action("Create","purchases")" method="post">


    <table class="table">
        <tr>
            <td scope="col">
                <div class="col-md-10">
                    @Session["FullName"]
                </div>

            </td>
            <td scope="col">
                <small class="control-label col-md-2"> Supplier</small>
                <div class="col-md-10">
                    <select id="cat" class="form-control" name="SupplierID">
                        <option value="" disabled selected hidden>Select your option</option>
                        @foreach (var item in ViewBag.SupplierID)
                        {
                            <option value="@item.SupplierID">@item.Name</option>
                        }
                    </select>
                </div>
            </td>
        </tr>
        @*<tr>
            <td scope="col">
                <small class="control-label col-md-2">Catagory </small>
                <div class="col-md-10">
                    <select id="cat" class="form-control" name="Catname">
                        <option value="" disabled selected hidden>Select your option</option>
                        @foreach (var item in ViewBag.Cataids)
                        {
                            <option value="@item.CatID">@item.Catname</option>
                        }
                    </select>
                </div>
            </td>
            <td scope="col">
                <small class="control-label col-md-2">SubCatagory</small>
                <div class="col-md-10">
                    <select class="form-control" id="subcat" name="SubCatname"></select>
                </div>
            </td>
        </tr>*@
        <tr>
            <td scope="col">
                <small class="control-label col-md-2">Product</small>
                <div class="col-md-10">
                    <select class="form-control" id="product__" name="ProName">
                        <option value="" disabled selected hidden>Select your option</option>
                        @if (ViewBag.AllProduct != null)
                        {

                        foreach (var item in ViewBag.AllProduct)
                        {
                            <option value="@item.ProID">@item.ProName</option>
                        }
                        }
                    </select>
                </div>
            </td>
            <td scope="col">
                <small class="control-label col-md-2">Quantity</small>
                <div class="col-md-10">
                    <input class="form-control" type="number" placeholder="Quantity"  name="Quantity"/>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col">
                <small class="control-label col-md-2">Type</small>
                <div class="col-md-10">
                    <select class="form-control" name="Type" id="typ">
                        <option value="" disabled selected hidden>Select your option</option>
                     
                    </select>
                </div>
            </td>
            <td scope="col">
                <small class="control-label col-md-2">unit</small>
                <div class="col-md-10">
                    <select class="form-control" name="ProUnit" id="unt">
                        <option value="" disabled selected hidden>Select your option</option>
                     
                    </select>
                </div>
            </td>

        </tr>
        <tr>
            <td scope="col">
                <small class="control-label col-sm-2">Batch Id</small>
                <div class="col-md-10">
                    <input type="number" placeholder="BatchID" class="form-control" min="0"  name="BatchId"/>
                </div>

            </td>
            @*<td scope="col">
                <small class="control-label col-md-2">Price</small>
                <div class="col-md-10">
                    <input type="number" placeholder="Price" class="form-control" min="0" name="U_Price"/>
                </div>
            </td>*@

        </tr>
        <tr>
            <td scope="col">  <button type="submit" class="btn btn-success">Make</button></td>
        </tr>
    </table>
</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script>
        $(document).ready(function () {
        });


    $("#product__").change(function () {

            var url = "@Url.Content("~/purchases/cmb")";

        $.getJSON(url, { name: $("#product__").val() }, function (data) {
            $("#typ").empty();
            $("#typ").append("<option disabled selected hidden>Select your option</option>");
                $.each(data, function (index, optionData) {
                    var option = "<option value=" + optionData.ProId + ">" + optionData.Type + "</option>";
                    $("#typ").append(option);
                });
            })


        });
    $("#typ").change(function () {

            var url = "@Url.Content("~/purchases/pro")";

        $.getJSON(url, { name: $("#typ").val(), type: $("#typ").children("option").filter(":selected").text()}, function (data) {
            $("#unt").empty();
            $("#unt").append("<option disabled selected hidden>Select your option</option>");
                $.each(data, function (index, optionData) {
                    var option = "<option value=" + optionData.PDId + ">" + optionData.ProUnit + "</option>";
                    console.log(option);
                    $("#unt").append(option);
                });
            })
            });



</script>



