@model IEnumerable<FinalYear.Models.PurchaseOrderMaster>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
<script src="~/Scripts/_CreateScript.js"></script>
<script src="~/Scripts/ShowTbl.js"></script>
<style>
    .borderless td, .borderless th {
        border: none;
    }
</style>
<style>
    .table-xs {
        font-size: 12px;
    }
    .table-xm {
        font-size: 14px;
    }
</style>
<br />
<div class="row">
    <div class="col-4">

        <table class="table-sm table-xm" id="example">
            <thead>
                <tr>

                    <td>
                        BillNo#
                    </td>
                    <td>
                        Name
                    </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {   
                    <tr>
                        <td>
                            <a href="#" class="link" data-id="@item.POID">
                                @item.BillNo
                            </a>
                        </td>
                        <td>

                            @item.Company.CompanyName

                        </td>

                        <td>
                            <button href="#" class="anchorDetail btn btn-sm" data-url="/purchases/Edit" data-id="@item.POID" data-bs-toggle="model" data-target="#myModal">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>

                            @*<button href="#" class="anchorDetail btn btn-sm" data-url="/purchasesitems/Details" data-id="@item.POID" data-bs-toggle="model" data-target="#myModal">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>*@
                            @*<button href="#" class="adelete btn btn-danger btn-sm" data-url="/purchases/_Delete" data-id="@item.PurchaseId" data-bs-toggle="model" data-target="#myModal">Delete</button>*@

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-8">
        <div class="d-flex align-items-center">
            <div class="form-input">
                <div class="form-input">
                    <label class="form-label d-inline-block">Date: </label>
                    <label class="form-label" style="color:orangered" id="Date">---------</label>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-input">
                <div class="form-input">
                    <label class="form-label d-inline-block">UserName: </label>
                    <label class="form-label" id="UserName" style="color:orangered">----------</label>
                </div>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-input">
                <div class="form-input">
                    <label class="form-label d-inline-block">CompanyName: </label>
                    <label class="form-label" style="color:orangered" id="CompanyName">------------</label>
                </div>
            </div>
        </div>

        <table id="purchases-list" class="table table-striped table-xs borderless" style="border: none; width: 100%; overflow-x: auto;">
            <thead>
                <tr>
                    <th>ProName</th>
                    <th>Quantity</th>
                    <th>BatchNo</th>
                    <th>ProductUnit</th>
                    <th>ProductType</th>
                    <th>Packing</th>
                    <th>CostPrice</th>
                    <th>UnitPrice</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
<script>
    $(document).ready(function () {
        $('.link').click(function () {
            var id = $(this).data('id');
            
            var url = '/purchasesitems/Details/' + id; // replace with your detail page URL
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    
                    var POID = data[0].POID;
                    var Daate = data[0].Date;
                    var UserID = data[0].UserID;
                    var CompanyName = data[0].CompanyName;
                    var BillNo = data[0].BillNo;
                    var date = new Date(parseInt(Daate.substr(6)));
                    var formattedDate = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + date.getFullYear();

                    $("#Date").text(formattedDate);
                    $("#UserName").text(UserID);
                    $("#CompanyName").text(CompanyName);
                    

                    $("#purchases-list tbody").empty();

                    $.each(data, function (index, item) {
                        
                        var row = "<tr>";
                        row += "<td>" + item.Podetail.ProName + "</td>";
                        row += "<td>" + item.Podetail.Quantity + "</td>";
                        row += "<td>" + item.Podetail.BatchNo + "</td>";
                        row += "<td>" + item.Podetail.ProductUnit + "</td>";
                        row += "<td>" + item.Podetail.ProductType + "</td>";
                        row += "<td>" + item.Podetail.Packing + "</td>";
                        row += "<td>" + item.Podetail.CostPrice + "</td>";
                        row += "<td>" + item.Podetail.UnitPrice + "</td>";
                        row += "</tr>";
                        $("#purchases-list tbody").append(row);
                    });


                },
                error: function (xhr, status, error) {
                    debugger
                    console.log(error);
                }
            });
        });
    });
</script>
