@model IEnumerable<FinalYear.Models.purchase>



<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                <button href="#" class="anchorDetail btn btn-success btn-sm" data-url="/purchases/Edit" data-id="@item.PurchaseId"  data-bs-toggle="model" data-target="#myModal">Edit</button>

                <button href="#" class="anchorDetail btn btn-info btn-sm" data-url="/purchases/Details" data-id="@item.PurchaseId" data-bs-toggle="model" data-target="#myModal">Details</button>
                <button href="#" class="adelete btn btn-danger btn-sm" data-url="/purchases/_Delete" data-id="@item.PurchaseId" data-bs-toggle="model" data-target="#myModal">Delete</button>

            </td>
        </tr>
    }

</table>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="~/Scripts/_CreateScript.js"></script>

