@model IEnumerable<FinalYear.Models.PurchaseOrderMaster>



<table class="table" id="example">
    <thead>
        <tr>

            <th>
                CompanyName
            </th>
            <th>
                UserName
            </th>

            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Company.CompanyName
            </td>

            <td>
                @item.User.Name
            </td>
            <td>
                @item.Date
            </td>
            <td>
                <button href="#" class="anchorDetail btn btn-sm" data-url="/purchases/Edit" data-id="@item.POID" data-bs-toggle="model" data-target="#myModal">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>

                <button href="#" class="anchorDetail btn btn-sm" data-url="/purchasesitems/Details" data-id="@item.POID" data-bs-toggle="model" data-target="#myModal">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
                @*<button href="#" class="adelete btn btn-danger btn-sm" data-url="/purchases/_Delete" data-id="@item.PurchaseId" data-bs-toggle="model" data-target="#myModal">Delete</button>*@

            </td>
        </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
<script src="~/Scripts/_CreateScript.js"></script>
<script src="~/Scripts/ShowTbl.js"></script>