
<div class="card card-body">
    @Html.Partial("~/Views/ProDetail/_create.cshtml")


    <table class="display compact" id="example1">

        <thead>
            <tr>
                <th>
                    ProName
                </th>
                <th>
                    ProductType
                </th>
                <th>
                    ProductUnit
                </th>

                <th>
                    Packing
                </th>
                <th>
                    UnitPrice
                </th>
                <th>
                    CostPrice
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.proDetails)
            {
                <tr>
                    <td>
                        @item.Product.ProName
                    </td>
                    <td>
                        @item.ProductType
                    </td>
                    <td>
                        @item.ProductUnit
                    </td>

                    <td>
                        @item.Packing
                    </td>
                    <td>
                        @item.UnitPrice
                    </td>
                    <td>
                        @item.CostPrice
                    </td>
                    <td>
                        <button href="#" class="anchorDetail btn  btn-sm" data-url="/ProDetail/Edit" data-id="@item.PDId" data-bs-toggle="model" data-target="#myModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button href="#" class="anchorDetail btn btn-sm" data-url="/ProDetail/Details" data-id="@item.PDId" data-bs-toggle="model" data-target="#myModal">

                            <i class="fa-solid fa-circle-info"></i>
                        </button>
                        @*<button href="#" class="adelete btn btn-danger btn-sm" data-url="/ProDetail/_Delete" data-id="@item.PDId" data-bs-toggle="model" data-target="#myModal">Delete</button>*@
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>


<script src="~/Scripts/_CreateScript.js"></script>
<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>