@model PagedList.IPagedList<FinalYear.Models.Company>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.pageTitle = "Supplier";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<ul class="nav nav-tabs card-header-tabs " id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Supplier</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent"  >
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="card card-body">
            <button href="#" class="acreate btn btn-lg" data-url="/Supplier/_Create" data-bs-toggle="model" data-target="#myModal"><i class="fa-solid fa-circle-plus"></i></button>

            <br />
            <table class="display compact" id="example">
                <thead>
                    <tr>
                        <th scope="col">Comapny Name</th>

                        <th scope="col">Conatact</th>

                        <th scope="col">Address</th>

                        <th scope="col">Balance</th>

                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Contact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                <button href="#" class="anchorDetail btn  btn-sm" data-url="/Supplier/_Edit" data-id="@item.CompanyID" data-bs-toggle="model" data-target="#myModal">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <button href="#" class="anchorDetail btn  btn-sm" data-url="/Supplier/Details" data-id="@item.CompanyID" data-bs-toggle="model" data-target="#myModal">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                                <button id="Delete" class="btn btn-sm" data-url="/Supplier/DeleteConfirmed/" data-id="@item.CompanyID">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                                <script src="~/Scripts/_delete.js"></script>
                            </td>
                        </tr>
                    }
                <tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>




<script src="~/Scripts/_delete.js"></script>
<script src="~/Scripts/_Detail.js"></script>
<script src="~/Scripts/_CreateScript.js"></script>
