@model FinalYear.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form action="/Account/Register" method="post" id="registerform">
    <h2 class="fw-bold mb-5">Sign up now</h2>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" name="Name" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">FullName</label>
                <label class="form-helper form-text" id="form3Example1">@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="text" name="UserName" id="form3Example2" class="UserName form-control" />
                <label class="form-label" for="form3Example2">UserName</label>
                <label class="form-helper form-text text-danger" id="form3Example2">@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })</label>


            </div>
            @if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }
            <span id="result"></span>
        </div>
    </div>

    <!-- Password input -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="password" name="Password" id="form3Example3" class="password form-control" />
                <label class="form-label" for="form3Example3">Password</label>
                <label class="form-helper form-text text-danger" id="form3Example3">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline">
                <input type="password" id="form3Example3" class="ConfirmPassword form-control" />
                <label class="form-label" for="form3Example3">Confirm Password</label>

                @*<label class="form-helper form-text text-danger" id="lbl_">@Html.ValidationMessageFor(m => m.ConfirmPassword)</label>*@
            </div>
            <small  id="message"></small>
        </div>
    </div>
    <!-- cnnic  input -->
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">

                <input type="tel" name="Contact" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">Contact NO</label>
                <label class="form-helper form-text text-danger" id="lbl_">@Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })</label>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="form-outline mb-4">
                <input type="tel" name="CNIC" id="form3Example3" class="form-control" />
                <label class="form-label" for="form3Example3">C.N.I.C</label>
                <label class="form-helper form-text" id="lbl_">@Html.ValidationMessageFor(m => m.CNIC, "", new { @class = "text-danger" })</label>

            </div>
        </div>
    </div>


    <div class="form-check d-flex justify-content-center ">
        <button type="submit" class="btn btn-primary mb-4 d-flex justify-content-center" style="width:100px;">
            Register
        </button>
        &nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Login","Account")" class="btn btn-primary mb-4 d-flex justify-content-center" style="width:100px;">
            Login
        </a>
    </div>


</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    function HideLabel() {
        document.getElementById('lbl_').style.display = "none";
    }
    setTimeout("HideLabel();", 2000);
</script>
@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("Test", "Student")",
                success: function (result, status, xhr) {
                    alert("Result: " + status + " " + xhr.status + " " + xhr.statusText)
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        });
    </script>*@

<script type="text/jscript">

    $(".UserName").on("input", function () {
        
        var url = "/Account/CheckUserName";
        var name = $('.UserName').val();
        $.get(url, { input: name }, function (data) {
            if (data == "Available") {
                $("#result").html("<span style='color:green'>Available</span>");
                $(".UserName").css('background-color', '');
            }
            else {
                $("#result").html("<span style='color:red'>Not Available</span>");
                $(".UserName").css('background-color', '#e97878');
            }
        });
    })
</script>

<script>
    $(document).ready(function () {
        $(".ConfirmPassword").on("input", function () {

            var password = $(".password").val();
            var confirmPassword = $(".ConfirmPassword").val();
            console.log(confirmPassword)
            if (password == confirmPassword) {
                $("#message").html("<span style='color:green'>Match</span>");
            } else {
                $("#message").html("<span style='color:red'>Not Match</span>");
            }
        });
    });
</script>
