@model IEnumerable<FinalYear.Models.User>

<table class="table" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CNIC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <input type="checkbox" id="isActive" name="isActive"  @(item.IsActive.HasValue ? (item.IsActive.Value ? "checked" : "") : "")   class="form-group"     onclick="updateStatus(@item.UserID)" />
                </td>
                <td>
                    <button  class="btn btn" value="@item.UserID" >Activate</button>
                </td>
            </tr>
        }
    </tbody>



</table>
<script>
    function updateStatus(id) {
        var formData = new FormData();
        formData.append("id", id);
        formData.append("isActive", document.getElementById("isActive").checked);

        $.ajax({
            url: "/users/UpdateStatus",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                console.log(result);
            }
        });
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.semanticui.min.js"></script>
<script src="~/Scripts/ShowTbl.js"></script>